.freetext-call-action {
    border: 0.5px solid #BEC0D1;
    border-radius: 6px;
    padding: 16px;
    outline: none;
    resize: none;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 400;
    font-family: Manrope;
    color: #191C2666;
}